// Here you can add other styles
.c-main {
    padding-top: 1.250em;
    margin-left: 0px;
}

.c-wrapper:not(.c-wrapper-fluid) .c-header-fixed {
    margin-left: 0px;
    box-shadow: 3px 2px 3px 0px rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px){
    .c-main > .container-fluid, .c-main > .container-sm, .c-main > .container-md, .c-main > .container-lg, .c-main > .container-xl {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media (min-width: 992px){
    .col-lg-12 {
        padding: 0px !important;
    }
}

.c-sidebar {
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    width: 60px;
    margin-top: 52px;
}

.c-sidebar-nav-link, .c-sidebar-nav-dropdown-toggle {
    height: 60px;
    font-size: 9px;
    flex-flow: wrap;
    padding: 0 7px !important;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.c-sidebar svg {
    margin-top: 10px;
}   


#sidebar2.c-sidebar p {
    margin-bottom: 0rem;
    padding-top: 3px !important;
}

@media (max-width: 991.98px) {
    .c-sidebar-backdrop.c-show {
        opacity: 0;
}}

#sidebar2.c-sidebar {
    width: 175px !important;
    z-index: 2;
    background: rgb(255, 255, 255);
    // margin-left: 50px;
}

#sidebarnav2.c-sidebar-nav {
    padding-top: 15px;
    padding-left: 73px;
    padding-right: 100px;
    padding-bottom: 0px;
}

#sidebar2 .c-sidebar-nav-item {
    background: #007bff;
    border-radius: 4px;
    margin-bottom: 12px;
    width: 90px;
    padding-left: 0px;
}

#sidebar2.c-sidebar .c-sidebar-nav-link, .c-sidebar .c-sidebar-nav-dropdown-toggle {
    height: 90px;
    font-size: 12px;
    // display: block;
    padding: 0 5px;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#sidebar2 div, p {
    background: transparent !important;
    padding-top: 5px;
}

#sidebar2 ul#sidebarnav2 :nth-child(2) {
    background: #ffc107;
}

#sidebar2 ul#sidebarnav2 :nth-child(3) {
    background: #dc3545;
}

@media (hover: hover), not all{
    .c-sidebar .c-sidebar-nav-link:hover, .c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
        color: #fff;
        background: none;
    }
}

.c-sidebar-nav.ps {
    width: 60px;
}

.c-header {
    width: 100%;
    border-bottom: none;
}

#headerNav.avatar{
    color: white;
    background-color: #3c4b64 !important;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    margin: 5px 0px;
}

.c-header.c-header-fixed {
    z-index: 10000;
    box-shadow: 3px 2px 3px 0px rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

#header2.c-header {
    z-index: 1;
    height: 100px;
    border: #ffffff00;
    margin-top: 52px;
    padding: 0 15px;
}

#header2 .c-sidebar-nav-item {
    background: #c6c6c6;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

#header2 .c-sidebar-nav-link{
    color: white;
    font-size: 13px;
}

@media (min-width: 992px) { 
    html:not([dir="rtl"]) .c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-wrapper {
    margin-left: 175px;
    }
}

.card {
    border-radius: 5px !important;
    border: #ffffff00 !important;
}

.card-header {
    background: #3c4b64 !important;
    height: 50px;
}

.card-header:first-child {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.bg-primary {
    background-color: #3c4b64 !important;
}

// Here you can add other styles
.login {
    background-color: #3c4b64 !important;
}

#cardLogin.card{
    border-radius: 10px !important;
    box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

#cardLogin.login .card {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 30%, rgba(196, 201, 208, 1) 100%);
    border-radius: 5%;
}

.login .input-group-text {
    background-color: #ffffff !important;
}

#cardLogin img {
    margin: 10px 0px;
}

#cardLogin h2 {
    margin: 20px 0px;
    font-size: 22px;
}

.btn-success {
    color: #fff;
    background-color: #1cc98a;
    border-color: #1cc98a;
}

@media (hover: hover), not all {
    .btn-success:hover {
        color: #fff;
        background-color: #1cc98a;
        border-color: #1cc98a;
    }
}

.btn-success:not(:disabled):not(.disabled):active, .show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #1cc98a;
    border-color: #1cc98a;
}

.btn-primary {
    color: #fff;
    background-color: #4e73de;
    border-color: #4e73de;
}

@media (hover: hover), not all {
    .btn-primary:hover {
        color: #fff;
        background-color: #4e73de;
        border-color: #4e73de;
    }
}

.btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #4e73de;
    border-color: #4e73de;
}

.alert {
    margin-top: 20px;
    // margin-left: 378px;
    border: 0px;
    width: fit-content;
    background: white;
    position: relative;
    z-index: 1000px;
}

html:not([dir="rtl"]) .alert-dismissible {
    padding-right: 1.25rem;
}

#styleModal.opacidadModal {
    opacity: 0 !important;
}

#styleModal h5 {
    color: #dc3545!important;
}